.collapsible-content li {
  margin-left: 30px;
  position: relative;
  /* margin-bottom: 10px; */
}
.collapsible-list {
  margin-left: 70px;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 30px;
}

.collapsible-list li{
  position: relative;
  padding: 20px 40px 20px 0;
  min-height: 50px;
}

.collapsible-list li::marker{
  padding-left: 30px;
}

.collapsible-list li:nth-child(odd)::before{
  width: calc(100% + 130px);
  height: 90px;
  content: "";
  position: absolute;
  left: -130px;
  top: 0;
  background: #ecf5f8;
  z-index: -1;
}
.collapsible-user-img{
  width: 18px;
  height: 18px;
  position: absolute;
  left: -60px;
}
.collapsible-list li::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 10px;
  left: -100px;
  top: 28px;
  background-color: #d8e2f6;
}


@media screen and (max-width: 768px){
  .collapsible-list li:nth-child(2n+1)::before{
    height: 100px;
  }
  .collapsible-list li{
    padding: 20px 20px 20px 0;
    min-height: 50px;
  }
}